*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}